<nav class="navbar navbar-expand-lg navbar-info">

    <div class="container-fluid">

        <a class="navbar-brand" routerLink="" style="font-family:aria-controls; font-size: xx-large;">Books</a>


        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="login"> -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
                <a class="nav-link" routerLink="bookListComponent" routerLinkActive="active">Book List</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="authersListComponent" routerLinkActive="active">Authers list</a>
            </li>

        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
            >
        </form>
        <ul class="icons">
            <li>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-google"></i>
            </li>
        </ul>
        <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!login"> Login </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="active" *ngIf="!login"> Register </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="logout" routerLinkActive="active" (click)="logout()"> Logout </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="logout" routerLinkActive="active"*ngIf="login"> {{userInfo.first_name}} {{userInfo.last_name}} </a>
                </li>
            </ul> -->

    </div>

</nav>